{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block body %}
<!-- <div class="mt-4 p-5 bg-primary text-white rounded mt-0">-->
<!--   <div class="card text-center">-->
<!--       <h1 class="jumbo-text">Python Flask CRUD Web Application Development</h1>-->
<!--   </div>-->
<!-- </div>-->

<div class="section1">
    <div class="p-5 mb-1 bg-success rounded-3">
        <div class="card text-center text-dark">
            <h1>Python Flask CRUD Web Application Development</h1>
        </div>
    </div>
</div>

{% endblock%}